<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Travel Planner</title>
</head>

<body class="wrap">
    <header>
        <h1>Travel Planner</h1>
        <nav>
            <ul>
                <a href="./index.html">Home</a>
            </ul>
        </nav>
    </header>

    <main>
        <section class="input">
            <form id="input-form" class="input-form">
                <div class="input__field input__field--dest">
                    <label for="input-dest">Destination</label>
                    <input class="input__dest"
                        type="text" name="dest" required>
                </div>
                <div class="input__field input__field--date">
                    <label for="input-date">Estimated arrival</label>
                    <input class="input__date"
                        type="date" name="date" required>
                </div>
                <div class="input__field input__field--submit">
                    <input type="submit" name="submit" value="Go">
                </div>
                <p id="error" class="error"></p>
                <p id="loading" class="loading">Loading...</p>
            </form>
        </section>
        <section id="results" class="results"></section>
    </main>

    <footer>
        <div>
            <p>© 2021 David C. Page</p>
        </div>
    </footer>

    <script>
        // Run service worker.
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', () => {
                if (Client.buildEnv !== 'development') {
                    navigator.serviceWorker.register('/service-worker.js');
                }
            });
        }
    </script>
</body>

</html>