@use 'theme';

@import url('https://fonts.googleapis.com/css2?family=Glory:wght@300&display=swap');

h1,
h2,
h3,
p,
a,
label,
div {
    color: #fff;
}

h1,
h2,
h3,
p,
a,
label,
input,
div {
    font-family: 'Glory', sans-serif;
    font-size: 1em;
    letter-spacing: 0.2em;
}

h1 {
    font-size: 1.8em;
}

h2 {
    font-size: 2.2em;
}

h3 {
    font-size: 1.3em;
}

label,
input {
    font-size: 1.1em;
}

body {
    background: theme.$accent;

    main {
        min-height: 65vh;
    }
}

.wrap {
    max-width: 800px;
    padding: 20px 5%;
    margin: 0 auto;
}