@use 'theme';

@import url('https://fonts.googleapis.com/css2?family=Glory:wght@100&display=swap');

h1,
h2,
h3,
p,
a,
div {
    color: #fff;
}

h1,
h2,
h3,
p,
a,
input,
div {
    font-family: 'Glory', sans-serif;
}

body {
    background: theme.$accent;

    main {
        min-height: 65vh;
    }
}

.wrap {
    max-width: 800px;
    padding: 20px 5%;
    margin: 0 auto;
}