.input-form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "dest"
        "date"
        "submit"
        "message";
    grid-gap: 10px;

    @media only screen and (min-width: 540px) {
        grid-template-columns: 3fr 1fr;
        grid-template-areas:
            "dest    date"
            "submit  submit"
            "message message";
    }

    .input__field--dest {
        grid-area: dest;
    }

    .input__field--date {
        grid-area: date;
    }

    .input__field--submit {
        grid-area: submit;
        justify-self: center;
    }

    input[type="submit"] {
        width: 100%;
        min-width: 220px;
        padding: 15px 15px;
        border: none;
        border-radius: 3px;
        background: #fff;
    }

    .error,
    .loading {
        grid-area: message;
        text-align: center;
        padding: 13px 15px;
    }

    .loading {
        display: none;
    }

    &.loading .loading {
        display: block;
    }

}