.input-form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "dest"
        "date"
        "submit"
        "message";
    grid-gap: 10px;

    @media only screen and (min-width: 540px) {
        grid-template-columns: 3fr 1fr;
        grid-template-areas:
            "dest    date"
            "submit  submit"
            "message message";
    }

    .input__field--dest {
        grid-area: dest;
    }

    .input__field--date {
        grid-area: date;
    }

    .input__field--submit {
        grid-area: submit;
    }

    .error {
        grid-area: message;
        text-align: center;
    }

    .loading {
        display: none;
        grid-area: message;
        text-align: center;
    }

    &.loading .loading {
        display: block;
    }

}