.results {

    .results__desc {
        font-size: 1.4em;
    }

    .results__icon {
        font-size: 4em;
        margin: 0;
    }

    .results__temp-degrees {
        font-size: 5em;
    }

    .results__temp-unit-symbol {
        vertical-align: top;
        font-size: 3.5em;
    }

    .results__temp-unit-letter {
        font-size: 2.5em;
    }

}