.results {
    display: grid;
    grid-template-columns: 1fr 215px;
    grid-template-areas:
    "loc  loc"
    "tz   tz"
    "img  wth"
    "img  desc"
    "img  icon"
    "img  temp"
    "img  temp"
    "note  note";
    grid-gap: 5px 20px;

    .results__loc {
        grid-area: loc;
    }

    .results__timezone {
        grid-area: tz;
    }

    .results__weather {
        grid-area: wth;
    }

    .results__desc {
        grid-area: desc;
        font-size: 1.4em;
    }

    .results__icon {
        grid-area: icon;
        font-size: 4em;
        margin: 0;
    }

    .results__temp {
        grid-area: temp;
    }

    .results__temp-degrees {
        font-size: 5em;
    }

    .results__temp-unit-symbol {
        vertical-align: top;
        font-size: 3.5em;
    }

    .results__temp-unit-letter {
        font-size: 2.5em;
    }

    .results__img-container {
        grid-area: img;
        position: relative;

        .results__img {
            width: 100%;
        }

        .results__pixabay-link {
            position: absolute;
            bottom: 0;
            right: 0;

            & > img {
                width: 100px;

                @media only screen and (min-width: 540px) {
                    width: 130px;
                }
            }
        }
    }

    .results__note {
        grid-area: note;
    }

}